name: Deploy Staging

on:
  push:
    branches:
      - "release/*"

permissions:
  contents: write

jobs:
  staging:
    environment: staging
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Extract version
        id: version
        run: |
          VERSION="${GITHUB_REF##*/}"
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Auth GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Configure Docker
        run: |
          gcloud auth configure-docker ${{ secrets.GCP_REGION }}-docker.pkg.dev

      - name: Build & Push Staging Image
        run: |
          IMAGE_TAG="v${{ steps.version.outputs.version }}-staging"
          IMAGE="${{ secrets.GCP_REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/mta-docker/test-app:$IMAGE_TAG"

          docker build -t $IMAGE .
          docker push $IMAGE
